NODE_ENV=production
PORT=3001
MONGO_URI=mongodb://mongodb:27017/portfolio
JWT_ACCESS_SECRET=generate_strong_secret_key_min_32_chars
JWT_REFRESH_SECRET=generate_strong_secret_key_min_32_chars

ADMIN_EMAIL=admin@yourdomain.com
ADMIN_PASSWORD=YourStrongProductionPassword!

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

CORS_ORIGIN=https://hieutran-theta.vercel.app,https://tranhieu.dev,https://www.tranhieu.dev
